<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
  <title>Gestión de Libreria - Libro Editar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="formato.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="index::navbar"></div>
    <!-- fin Navigation -->

  <header class="masthead text-center text-white">
    <div class="masthead-content bg-dark">
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1 class="masthead-heading mb-0">Administración de Libreria</h1>
        <h2 class="masthead-subheading mb-0">Edita los libros</h2>
        <br>
        <br>
      </div>
    </div>

  </header>

  <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
    th:text="${mensaje}"
    class="alert" data-dismiss="alert" aria-label="close">&times;
  </div>

  <div th:classappend="'alert-' + (${clase1 != null} ? ${clase1} : info)" th:if="${mensaje1 != null}"
    th:text="${mensaje1}"
    class="alert" data-dismiss="alert" aria-label="close">&times;
  </div>

  <div class="col-lg-6 order-lg-1">
    <div class="p-5">
      <h2 class="display-4">Editar Libro</h2>

      <form th:object="${libroAux}" th:action="@{/libro/editar/} + ${libroAux.id}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${id}"/>

  
        <label for="Titulo">Modifica los datos que necesites</label>
       
        <br>
        <label>Titulo Nuevo</label>
        <input type="text" class="form-control" name="titulo1" th:value="${libroAux.titulo}"/>

        <label>Isbn Nuevo</label>
        <input type="number" class="form-control" name="isbn" th:value="${libroAux.isbn}"/>
        
        <label>Año Nuevo</label>
        <input type="number" class="form-control" name="anio" th:value="${libroAux.anio}"/>
               
        <label>Ejemplares Nuevo</label>
        <input type="number" class="form-control" name="ejemplares" th:value="${libroAux.ejemplares}"/>

        <label>Ejemplares Prestados Nuevo</label>
        <input type="number" class="form-control" name="ejemplaresPrestados" th:value="${libroAux.ejemplaresPrestados}"/>

        <label>Ejemplares Restantes Nuevo</label>
        <input type="number" class="form-control" name="ejemplaresRestantes" th:value="${libroAux.ejemplaresRestantes}"/>

        <label>Autor</label>
        <select class="form-control" name="idAutor"> 
          <option th:text="${libroAux.autor.nombre}"></option>
          <option></option>
          <option th:each="autorAux:${Autores}" 
                   th:text="${autorAux.nombre}"></option>
        </select>
        
        <label>Editorial</label>
        <select class="form-control" name="idEditorial">
          <option th:text="${libroAux.editorial.nombre}"></option> 
          <option></option>
           <option th:each="editorialAux:${Editoriales}" 
                   th:text="${editorialAux.nombre}"></option>
        </select>
        <br/>

        <!--<button type="reset" class="btn btn-warning">Reset</button>-->
        
        <button type="submit" class="btn btn-primary">Guardar</button>
        
        <a href="/listarlibro" class="btn btn-danger" role="button">Volver</a>
        
    </form>
    </div>
  </div>
</div>
</div>
</section>


<!-- Footer -->
<footer class="py-5 bg-dark">
<div class="container">
<p class="m-0 text-center text-white small">Copyright &copy; Your Website 2022</p>
</div>
<!-- /.container -->
</footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</body>

</html>